@import "tailwindcss";

body {
    height: 100%;
    background-color: oklch(21% 0.034 264.665);
}

.wrapper {
    min-height: 100vh;
    
    display: flex;
    
    flex-direction: column;
}

#latest-news {
    flex-grow: 1;
}

.slick-list {
    height: 200px;
}

.slick-slide {
    height: 80%;;
}


